<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GoogolSearchResults</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<h1>Search Results</h1>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! This application relies on Javascript being
    enabled. Please enable Javascript and reload this page!</h2></noscript>
<table>
    <tbody>
        <td>
            <b>Downloader:</b> <span th:text="${adminstatus.getDownloaderS()}"></span>
            <br/>
            <b>Queue:</b> <span th:text="${adminstatus.getQueueS()}"></span>
            <br/>
            <b>Storage Barrel 1:</b> <span th:text="${adminstatus.getSB1S()}"></span>
            <br/>
            <b>Storage Barrel 2:</b> <span th:text="${adminstatus.getSB2S()}"></span>
            <br/>
            <b>Storage Barrel 3:</b> <span th:text="${adminstatus.getSB3S()}"></span>
            <br/>
        </td>
    </tbody>
</table>
</body>
</html>