<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GoogolSearchResults</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<h1>Search Results</h1>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! This application relies on Javascript being
    enabled. Please enable Javascript and reload this page!</h2></noscript>
<table>
    <tbody>
    <tr th:each="url, iStat : ${arrayUrls}">
        <td>
            <b>Link:</b> <a th:href="${url.link}" th:text="${url.link}" ></a>
            <br/>
            <b>Title:</b> <span th:text="${url.title}"></span>
            <br/>
            <b>Quote:</b> <span th:text="${url.quote}"></span>
            <br/>
            <b>Number of Connections:</b> <span th:text="${url.nConnections}"></span>
            <br/>
        </td>
    </tr>
    <tr>
        <td>
            <form action="#" th:action="@{/searchkeywords}" th:object="${Keywords}" method="post" class="form-inline">
                <input type="hidden" th:field="*{keywords}" th:value="${Keywords.getKeywords()}">
                <input type="hidden" th:field="*{index}" th:value="${Keywords.indexPlus1()}" />
                <input type="submit" value ="Next 10 links"/>
            </form>
        </td>
        <td>
            <div class="form-group">
                <form action="#" th:action="@{/resultsconnections}" th:object="${Keywords}" method="post" class="form-inline">
                    <input type="hidden" th:field="*{keywords}" th:value="${Keywords.getKeywords()}">
                    <input type="hidden" th:field="*{index}" th:value="${Keywords.indexMinus1()}" />
                    <button type="submit">Show connections</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>